# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TEMA 3/EJ6/nbproject/private/
/TEMA 3/ej6/nbproject/private/
/TEMA 3/ej8/nbproject/private/
/TEMA 3/ej8/build/
/TEMA 3/ej9/nbproject/private/
/TEMA 3/ej9/build/
/TEMA 4/ej1/nbproject/private/
/TEMA 4/ej1/build/
/TEMA 4/ej2/nbproject/private/
/TEMA 4/ej2/build/
/TEMA 4/ej3/nbproject/private/
/TEMA 4/ej3/build/
/TEMA 4/ej4/nbproject/private/
/TEMA 4/ej4/build/
/TEMA 4/ej5/nbproject/private/
/TEMA 4/ej5/build/
/TEMA 4/ej6/nbproject/private/
/TEMA 3/ejercicioRepaso/nbproject/private/
/TEMA 3/ejercicioRepaso/build/
/TEMA 4/ej6/build/
/TEMA 4/ej6/dist/
/TEMA 3/ej7/nbproject/private/
/TEMA 3/ej7/build/
/TEMA 4/ej8/nbproject/private/
/TEMA 4/ej9/nbproject/private/
/TEMA 4/ej9/build/
/TEMA 4/ej10/nbproject/private/
/TEMA 4/ej10/build/
/TEMA 4/ej11/nbproject/private/
/TEMA 4/ej11/build/
/TEMA 5/ej1/nbproject/private/
/TEMA 5/ej1/build/
/TEMA 5/ej2/nbproject/private/
/TEMA 5/ej2/build/
/TEMA 5/ej2v2/nbproject/private/
/TEMA 5/ej2v2/build/
/TEMA 6/JavaApplication57/nbproject/private/
/TEMA 6/ej1/nbproject/private/
/TEMA 6/ej1/build/
/TEMA 6/ej2/nbproject/private/
/TEMA 6/ej2/build/
/TEMA 6/ej3/nbproject/private/
/TEMA 6/PRACTICA 2/ej1/nbproject/private/
/TEMA 6/PRACTICA 2/ej1/build/
/TEMA 6/PRACTICA 2/ej2/nbproject/private/
/TEMA 6/PRACTICA 2/ej3/nbproject/private/
/TEMA 6/PRACTICA 2/ej4/nbproject/private/
/TEMA 6/PRACTICA 3/EJ1/nbproject/private/
/TEMA 6/PRACTICA 3/EJ1/build/
/TEMA 6/PRACTICA 3/ej2/nbproject/private/
/TEMA 6/PRACTICA 3/ej3/nbproject/private/
/TEMA 6/PRACTICA 3/ej4/nbproject/private/
/TEMA 6/PRACTICA 3/ej3/build/
/TEMA 6/PRACTICA 3/ej2/build/
/TEMA 6/PRACTICA 3/ej4/build/
/TEMA 6/PRACTICA 3/ej5/nbproject/private/
/TEMA 6/PRACTICA 3/ej5/build/
/TEMA 6/PRACTICA 3/ej6/nbproject/private/
/TEMA 6/PRACTICA 3/ej6/build/
/TEMA 6/PRACTICA 3/ej7/nbproject/private/
/TEMA 6/PRACTICA 3/ej8/nbproject/private/
/TEMA 6/PRACTICA 3/ej9/nbproject/private/
/TEMA 6/PRACTICA 3/ej10/nbproject/private/
/TEMA 6/PRACTICA 3/ej11/nbproject/private/
/TEMA 6/PRACTICA 3/ej11/build/
/TEMA 6/PRACTICA 3/ej12/nbproject/private/
/TEMA 6/PRACTICA 3/ej12/build/
/TEMA 6/PRACTICA 3/ej13/nbproject/private/
/TEMA 6/PRACTICA 3/ej14/nbproject/private/
/TEMA 6/PRACTICA 3/ej15/nbproject/private/
/TEMA 6/PRACTICA 3/ej16/nbproject/private/
/TEMA 6/PRACTICA 3/ej17/nbproject/private/
/TEMA 6/PRACTICA 3/ej18/nbproject/private/
/TEMA 6/PRACTICA 3/ej18/build/
/TEMA 6/PRACTICA 3/ej21/nbproject/private/
/TEMA 6/PRACTICA 3/ej22/nbproject/private/
/TEMA 6/PRACTICA 3/ej22/build/
/TEMA 7/PRACTICA 1/ej1/nbproject/private/
/TEMA 7/PRACTICA 1/ej1/build/
/TEMA 8/ej1/nbproject/private/
/TEMA 8/PRACTICA 1/ej1/nbproject/private/
/TEMA 8/PRACTICA 1/ej1/build/
/TEMA 8/PRACTICA 1/ej2/nbproject/private/
/TEMA 8/PRACTICA 1/ej2/build/
/TEMA 8/PRACTICA 1/ej3/nbproject/private/
/TEMA 8/PRACTICA 1/ej3/build/